@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
}
.button {
  @apply bg-black text-white text-xl font-medium py-2 px-4 h-14 rounded-full border border-purple-500 hover:bg-purple-500 transition-colors;
}

.input {
  @apply h-14 rounded-full w-full bg-zinc-900/90 px-6 my-1 text-lg;
}
